* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

*:focus {
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}

/* Container */
.container {
  width: 100%;
  max-width: 1140px;
  margin-left: 20px;
  margin-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Site-header */
.site-header {
  border-top: 4px solid #ff7500;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.8;
}

.logo-link img {
  display: block;
}

.site-header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* SiteNav */
.sitenav-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 32px;
  list-style: none;
}

.sitenav-item {
  margin-right: 32px;
}

.sitenav-item:last-child {
  margin-right: 0;
}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.sitenav-link:hover {
  color: #ff7500;
}

.sitenav-link:active {
  opacity: 0.8;
}

/* Main link */
.main-link {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  transition: opacity 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

/* .hero-content */
.hero {
  padding: 80px 80px;
  background: #252420;
  color: #fff;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  width: 390px;
}

.orange-line {
  width: 80px;
  height: 3px;
  border: none;
  margin: 0;
  margin-bottom: 40px;
  background-color: #ff7500;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.hero-img {
  width: 510px;
  height: 510px;
  border-radius: 8px;
}

/* Features */
.features {
  padding-top: 210px;
  padding-bottom: 210px;
}

.features-headeng {
  width: 440px;
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 72px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

.features-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Feature */
.feature {
  width: 340px;
  margin-right: 40px;
}

.feature:last-child {
  margin-right: 0;
}

.feature-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
  border-radius: 50%;
}

.feature-heading {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

/* Promo */
.promo {
  padding-top: 120px;
  padding-bottom: 160px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.promo-inner {
  display: flex;
  justify-content: space-between;
  padding: 64px;
  color: #fff;
  align-items: center;
  border-radius: 12px;
  background-color: #252420;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 48px;
}

.promo-info-wrapper {
  margin-bottom: 24px;
}

.promo-text {
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-highlight {
  color: #ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  border-radius: 12px;
  object-fit: cover;
}

/* Site-Footer */
.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background: #f8f8f8;
}

.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer ul {
  padding: 0;
  list-style: none;
}

.site-footer-socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.site-footer-socials li {
  margin-right: 16px;
}

.site-footer-socials li:last-child {
  margin-right: 0;
}

.site-footer-socials a {
  display: block;
  color: #252420;
}

.site-footer-socials a:hover {
  color: #ff7500;
}

.site-footer-socials a:focus {
  opacity: 0.6;
}

.site-footer-socials svg {
  display: block;
}

.site-footer-divider {
  height: 2px;
  border: none;
  margin-top: 40px;
  margin-bottom: 64px;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom {
  display: flex;
}

.site-footer-links {
  width: 224px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
  line-height: 19px;
}

.site-footer-links:last-child {
  margin-right: 0;
}

.site-footer-links li {
  margin-bottom: 16px;
}

.site-footer-links li:last-child {
  margin-bottom: 0;
}

.site-footer-links a {
  color: #252420;
  text-decoration: none;
}

.site-footer-links a:hover {
  color: #ff7500;
}

.site-footer-links a:active {
  opacity: 0.6;
}
